obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/twelve_pins.assets.cache
obj/Debug/net5.0/twelve_pins.assets.cache
obj/project.nuget.cache
obj/twelve_pins.csproj.nuget.dgspec.json
obj/twelve_pins.csproj.nuget.g.props
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/twelve_pins.assets.cache
obj/Debug/net5.0/twelve_pins.csproj.CopyComplete
obj/Debug/net5.0/twelve_pins.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/twelve_pins.csproj.FileListAbsolute.txt
obj/Debug/net5.0/twelve_pins.csprojAssemblyReference.cache
obj/Debug/net5.0/twelve_pins.dll
obj/Debug/net5.0/twelve_pins.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/twelve_pins.genruntimeconfig.cache
obj/Debug/net5.0/twelve_pins.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/twelve_pins.pdb
obj/Debug/net5.0/twelve_pins.RazorCoreGenerate.cache
obj/Debug/net5.0/twelve_pins.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/twelve_pins.RazorTargetAssemblyInfo.cs
obj/Debug/net5.0/twelve_pins.TagHelpers.input.cache
obj/Debug/net5.0/twelve_pins.TagHelpers.output.cache
obj/Debug/net5.0/twelve_pins.Views.dll
obj/Debug/net5.0/twelve_pins.Views.pdb
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/_Login.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/_Register.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/LoginReg.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/ref/twelve_pins.dll
obj/Debug/net5.0/staticwebassets/twelve_pins.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/twelve_pins.StaticWebAssets.xml
bin/Debug/net5.0/Humanizer.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/MySqlConnector.dll
bin/Debug/net5.0/Pomelo.EntityFrameworkCore.MySql.dll
bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net5.0/twelve_pins.deps.json
bin/Debug/net5.0/twelve_pins.dll
bin/Debug/net5.0/twelve_pins.exe
bin/Debug/net5.0/twelve_pins.pdb
bin/Debug/net5.0/twelve_pins.runtimeconfig.dev.json
bin/Debug/net5.0/twelve_pins.runtimeconfig.json
bin/Debug/net5.0/twelve_pins.Views.dll
bin/Debug/net5.0/twelve_pins.Views.pdb
bin/Debug/net5.0/ref/twelve_pins.dll
Models/User.cs
obj/project.assets.json
obj/project.nuget.cache
obj/twelve_pins.csproj.nuget.dgspec.json
obj/twelve_pins.csproj.nuget.g.props
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/twelve_pins.assets.cache
obj/Debug/net5.0/twelve_pins.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/twelve_pins.csproj.nuget.dgspec.json
obj/twelve_pins.csproj.nuget.g.props
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/twelve_pins.assets.cache
obj/Debug/net5.0/twelve_pins.GeneratedMSBuildEditorConfig.editorconfig
Migrations/20210905021144_First.cs
.gitignore
Migrations/TwelvePinsContextModelSnapshot.cs
appsettings.json
bin/Debug/net5.0/appsettings.json
