@model LoginUser

<style>
.btn-nav {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  border-radius: 3px;
}
.btn-nav:hover {
	background-color: #007BFF;
}
</style>

<h3 class="text-center text-white">Login</h3>
<hr />

<form asp-controller="Home" asp-action="Login" method="POST">
  <div class="form-group">
    <label asp-for="LoginEmail" class="text-white"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="LoginEmail"></span>
    <input class="form-control" asp-for="LoginEmail" />
  </div>

  <div class="form-group">
    <label asp-for="LoginPassword" class="text-white"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="LoginPassword"></span>
    <input class="form-control" asp-for="LoginPassword" />
  </div>

  <button class="btn-nav">Login</button>
</form>
