@{
    ViewData["Title"] = "Home Page";
}

<section id="header">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</section>

<section id="header1"> 
    <h1 class="text-center my-3">We like to bowl</h1>
</section>
<section id="cards">
<div class="container">
  <div class="row">
    <div class="col">Parties</div>
    <div class="col">Leagues</div>
    <div class="col">Eat</div>
  </div>
</div>
</section>
<section id="header2"> 
    <h1 class="text-center my-3">Reserve a lane</h1>
</section>

<section id="reserve"> 
    <a href="#">Reserve a lane</a>
</section>

<section id="carousel"> 
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/imgs/element5-digital-4oplrHCtttA-unsplash.jpg" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item active">
      <img src="../Shared/imgs/ella-christenson-l6DorjudX64-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="../Shared/imgs/marc-mueller-lwTSdfXfskE-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section
