#banner-jumbo {
	background-image: url('../img/marc-mueller-lwTSdfXfskE-unsplash.jpg');
	background-size: cover;
	background-position: center;
	height: 80vh;
	min-height: 70vh;
	width: 100%;
	overflow: hidden;
}
