@model Lane

<style>
.btn-nav {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  border-radius: 3px;
}
.btn-nav:hover {
	background-color: #007BFF;
}
</style>

<h3 class="text-center mt-5 display-4 text-light">Create Lane</h3>
<hr />

<form asp-controller="Event" asp-action="CreateLane" method="POST" class="ml-5">
  <div class="form-group">
    <label asp-for="LaneNumber" class="text-light"></label>
    <span asp-validation-for="LaneNumber" class="text-danger font-weight-bold"></span>
    <input asp-for="LaneNumber" class="form-control" />
  </div>
      <button class="btn-nav">Add Lane</button>
</form>