<h1 class="text-center mt-4">About us </h1>

<div class="container">
<div class="row">
<div class="col-5 mx-auto">
<p>Twelve Pins was created by 4 students who went to a Coding Bootcamp Coding Dojo where they learned 3 different coding stacks in 3 months. If you want to get to know the team more be sure to check out their websites and LinkedIn. Who ever took the time to check out this project we thank you !</p>
</div>
</div>
<div class="row">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
  <div class="col-3">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Myles Williams</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <div class="card-body">
    <a href="#" class="card-link">Portfolio Link</a>
    <a href="https://www.linkedin.com/in/mylesfwilliams/" class="card-link">LinkedIn Link</a>
  </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">James Arbogast</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="card-body">
    <a href="#" class="card-link">Portfolio Link</a>
    <a href="https://www.linkedin.com/in/james-arbogast-8517878a/" class="card-link">LinkedIn Link</a>
  </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Javan Ogden</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="card-body">
    <a href="https://simplyyjoji.github.io/personalWebsite2.0/" class="card-link">Portfolio Link</a>
    <a href="https://www.linkedin.com/in/javan-ogden-370050205/" class="card-link">LinkedIn Link</a>
  </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lawrence Cox</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <div class="card-body">
    <a href="#" class="card-link">Portfolio Link</a>
    <a href="https://www.linkedin.com/in/lawrence-cox-1b1219b8/" class="card-link">LinkedIn Link</a>
  </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>