@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3 class="m-4">Admin</h3>
    <hr>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_CreateLane"></partial>
        </div>

        <div class="col-md">
            <partial name="_CreateLeague"></partial>
        </div>
    </div>
</div>