		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
<link rel="stylesheet" href="~/css/LeaguePage.css">

@model LeagueMember


<style>
.btn-nav {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  border-radius: 3px;
}
.btn-nav-danger {
	background-color: #D70040	;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  border-radius: 3px;
}
.btn-nav-danger:hover {
	background-color: #DE3163;
}
.btn-nav:hover {
	background-color: #007BFF;
}
</style>

<div id="banner-jumbo" class="h-100">
  <div class="container">
  <div class="row mt-5 mb-5">
  <div class="col-6">
  </div>
      <div class="col-6"> 
    <div class="form-group bg-light p-5">
        @foreach(League league in ViewBag.AllLeagues) 
        {

          bool alreadyJoined = league.LeagueMembers.Any(join => Context.Session.GetInt32("UserId") == join.UserId);
          <h3>@league.Name</h3>
          <p>@league.Description</p>
          <p>Meeting(s): @league.MeetingDay</p>
          <form asp-controller="Event" asp-action="JoinLeague" asp-route-leagueId="@league.LeagueId" method="POST" class="mb-4">
            @if (alreadyJoined)
            {
              <button class="btn-nav-danger">Leave League</button>
            } 
            else 
            {
              <button class="btn-nav">Join League</button> 
            }
          </form>
        }
    </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</section
