@model LeagueMember

<h3 class="text-center mt-5 display-4">League Page</h3>
<hr />

<div class="container">
<div class="row mt-5">
<div class="col-6">
<img src="/img/bowling-alley-c.jpg" class="d-block w-100 mr-5" alt="image3">
</div>
    <div class="col-6">
  <div class="form-group">
      @foreach(League league in ViewBag.Leagues) 
      {
        <h3>@league.Name</h3>
        <p>@league.Description</p>
        <p>Start Date: @league.StartDate</p>
        <form asp-controller="Event" asp-action="JoinLeague" asp-route-leagueId="@league.LeagueId" method="POST" class="mb-4">
          <button class="btn btn-outline-success m-3">Join League</button> 
        </form>
      }
  </div>
    </div>
  </div>
</div>
