@model ReservedLane;

<h3 class="text-center">Reserve Lane</h3>
<hr />

<form asp-controller="Event" asp-action="ReserveLane" method="POST" class="d-flex-column justify-content-center w-50 m-4">
  <div class="form-group">
    <label asp-for="ReserveDate"></label>
    <span asp-validation-for="ReserveDate" class="text-danger font-weight-bold"></span>
    <input asp-for="ReserveDate" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="LaneId">Lane</label>
    <span asp-validation-for="LaneId" class="text-danger font-weight-bold"></span>
    <select asp-for="LaneId" class="form-control">
      @foreach(Lane lane in ViewBag.Lanes) 
      {
        <option value="@lane.LaneId">@lane.LaneNumber</option>
      }
    </select>
  </div>

  <button class="btn btn-outline-primary">Reserve Lane</button>
</form>