@model ReservedLane;

    <style>
        #RL-bg {
        background-image: url("/img/reserve-lane-bg.jpg");
        height: 75vh;
      }
    </style>

<div id="RL-bg" class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card mx-auto w-50">
    <h3 class="card-header text-center">Reserve a Lane</h3>
    <div class="card-body mx-auto">
      <form asp-controller="Event" asp-action="ReserveLane" method="POST" class="d-flex-column w-auto justify-content-center m-2">
        <div class="form-group">
          <label asp-for="ReserveDate"></label>
          <span asp-validation-for="ReserveDate" class="text-danger font-weight-bold"></span>
          <input asp-for="ReserveDate" class="form-control" />
        </div>
        <div class="form-group">
          <label asp-for="LaneId">Lane</label>
          <span asp-validation-for="LaneId" class="text-danger font-weight-bold"></span>
          <select asp-for="LaneId" class="form-control">
            @foreach(Lane lane in ViewBag.Lanes) 
            {
              <option value="@lane.LaneId">@lane.LaneNumber</option>
            }
          </select><br>
          <div>
            <input type="checkbox" value="Birthday">
            <label class="me-1" for="vehicle1">Birthday Party </label>
            <input type="text" placeholder="birthday name, etc."><br>
            <input type="checkbox" value="CorporateEvent">
            <label for="vehicle2">Business Event</label>
            <input type="text" placeholder="business name, etc"><br>
          </div>
        </div>
        <button class="btn btn-primary">Reserve Lane</button>
      </form>
    </div>
  </div>
</div>

